/* css styles */
@font-face {
    font-family: 'Jetbrains Mono';
    src: url('fonts/JetBrainsMono-Regular.woff2') format('woff');
    font-weight: normal;
    font-style: normal;

}

.page-columns .content {
    grid-column: screen-start-inset/body-content-end;
      grid-column-start: screen-start-inset;
      grid-column-end: body-content-end;
}

iframe {
    width: 100%;
    height: 450px;
}